<div class="container">
    <img src="../../assets/img/miw.png" />
    <h1>Angular</h1>
    <h3>Master en Ingeniería Web</h3>
    <h4>Front-end para Navegadores Web</h4>
</div>
<nav class="navigation">
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/typescript']">Typescript</a>
    <a [routerLink]="['/binding']">Unión de propiedades y eventos</a>
    <a [routerLink]="['/sub-components']">Sub-componentes</a>
    <a [routerLink]="['/directive-ng']">Directivas Angular</a>
    <a [routerLink]="['/crud']">Crud</a>
    <a [routerLink]="['/routing']">Enrutamiento</a>
    <a [routerLink]="['/pipe']">Filtros</a>
    <a [routerLink]="['/observer']">Patrón Observer</a>
    <a [routerLink]="['/api-response']">API Response</a>
    <a [routerLink]="['/api-github']">API Github</a>
    <a [routerLink]="['/api-items']">API Items</a>
</nav>